<!--
  @description       : This dual list box do not allows some values( pre-selected ) to get deselected.
  @author            : Hitesh Garg
  @last modified on  : 11-08-2020
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   11-08-2020   Hitesh Garg   Initial Version
-->
<template>
    <lightning-dual-listbox name="languages"
    label="Stop deselecting exiting selected records"
    source-label="Available"
    selected-label="Selected"
    field-level-help="This is a dual listbox"
    options={options}
    value={defaultValues} onchange={handleChange}></lightning-dual-listbox>
</template>